@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Ajax.BeginForm("GetWord", new AjaxOptions { UpdateTargetId = "Up" }))
    {


        <p>
            @{
                List<SelectListItem> list = new List<SelectListItem>();

                list.Add(new SelectListItem() { Text = "Английский" });
                list.Add(new SelectListItem() { Text = "Русский" });
                List<SelectListItem> list1 = new List<SelectListItem>();
                list1.Add(new SelectListItem() { Text = "Русский" });
                list1.Add(new SelectListItem() { Text = "Английский" });


            }
        <table>
            <tr>
                <td>
                @Html.DropDownList("Lab", list, new { @class = "form-control" })
                    </td>
               
                <td>
                @Html.DropDownList("Lab1", list1, new { @class = "form-control" })
                    </td>
            </tr>
            <tr>
                <td>
                    Введите слово:<input type="text" id="text" name="text">
                </td>

                <td>

                    <div id="Up">


                        Перевод:<input type="text" id="translate" name="translate">
                    </div>
                </td>
            </tr>
            </table>
        </p>
                <input type="submit" id="sub" style="visibility:hidden">

                <div>



                </div>}

</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script>


    document.getElementById("text").oninput = function (e) {

        document.getElementById("sub").click();

    }
    document.getElementById("Lab").onchange = function (e) {
        document.getElementById("sub").click();
    }
    document.getElementById("Lab1").onchange = function (e) {
        document.getElementById("sub").click();
    }
</script>
