@using Translator.Models
@{
    List<Translation> englishTranslations = ViewBag.EnglishTranslations;
    List<Translation> russianTranslations = ViewBag.RussianTranslations;
}

@if (englishTranslations.Count > 0)
{
    <table class="table-responsive">
        @for (int i = 0; i < englishTranslations.Count; i++)
        {
            <tr>
                <td>
                    <h3>@englishTranslations[i].RussianWord.Word</h3>
                </td>
                <td>
                    <img src="~/Pictures/@englishTranslations[i].Picture">
                </td>
            </tr>
        }
    </table>
}
else if (russianTranslations.Count > 0)
{
    <table class="table-responsive">
        @for (int i = 0; i < russianTranslations.Count; i++)
        {
            <tr>
                <td>
                    <h3>@russianTranslations[i].RussianWord.Word</h3>
                </td>
                <td>
                    <img src="~/Pictures/@russianTranslations[i].Picture">
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>К сожалению,такого слова нет словаре. Проверьте правильность написания слова.</h3>
}
