@{
    ViewBag.Title = "Переlator";
}

<div class="jumbotron">
    <h1>Переlator</h1>
    <p class="lead">Добро пожаловать в ПереLator - современный переводчик, удовлетворяющий все нужды пользователя!</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Упрощённый переводчик</h2>
        <p>
            Упрощённый переводчик - это самая простая аверсия переводчика. Всё, что вам надо - это ввести слово на русском или английском языке и нажать Enter или копку поиска на экране.
        </p>
        <p><a class="btn btn-default" href="/Simple/Index">Попробовать &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Обычный переводчик</h2>
        <p>Обычный переводчик отличается от упрощённого переводчика тем, что есть выпадающие списки с языками, доступными для перевода. 
        Этот вариант переводчика позволяет пользователю наглядно понять  с какого языка он переводит на какой.</p>
        <p><a class="btn btn-default" href="/Usual/Index">Попробовать &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Детский переводчик</h2>
        <p>Детский переводчик очень похож на упрощённый переводчик. единственным отличием является наличие картинки перевода, которая способствует запоминанию перевода слова.</p>
        <p><a class="btn btn-default" href="/Children/Index">Попробовать &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Словарь</h2>
        <p>Словарь представляет собой список всех слов, доступных в словаре. При вводе необходимого слова в списке слов остаются только отфильтрованные слова.</p>
        <p><a class="btn btn-default" href="/Last/Index">Попробовать &raquo;</a></p>
    </div>
</div>