@{
    ViewBag.Title = "Словарь";
}

<h2>Словарь</h2>

<div>
    @using (Ajax.BeginForm("GetWords", new AjaxOptions { UpdateTargetId = "Up" }))
    {
        {
            List<SelectListItem> list = new List<SelectListItem>();

            list.Add(new SelectListItem() { Text = "Английский" });
            list.Add(new SelectListItem() { Text = "Русский" });
            List<SelectListItem> list1 = new List<SelectListItem>();
            list1.Add(new SelectListItem() { Text = "Русский" });
            list1.Add(new SelectListItem() { Text = "Английский" });



            <table class="table-responsive">
                <tr>
                    <td>
                        @Html.DropDownList("Lab", list, new { @class = "form-control" })
                    </td>
                    <td>
                        <button class="btn btn-default" id="btn">
                            <span class="glyphicon glyphicon-resize-horizontal"></span>
                        </button>
                    </td>
                    <td>
                        @Html.DropDownList("Lab1", list1, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        Введите слово:<input autocomplete="off" class="form-control" type="text" id="text" name="text">
                    </td>

                    <td></td>
                </tr>
            </table>

            <input type="submit" id="sub" style="visibility:hidden">
            <input type="hidden" value="Английский" name="lang" id="lang">

            <div id="Up">
            </div>}
    }

</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script>
    window.onload = function () {
        document.getElementById("sub").click();
    }
    document.getElementById("btn").onclick = function (e) {
        var l = document.getElementById("Lab").value;
        var l2 = document.getElementById("Lab1").value;
        document.getElementById("Lab").value = l2;
        document.getElementById("Lab1").value = l;
        var t = "";

        document.getElementById("text").value = t;
        if (document.getElementById("Lab1").value == "Английский") {

            document.getElementById("lang").value = "Русский";
        }
        else {
            document.getElementById("lang").value = "Английский";
        }


    }
    document.getElementById("sub").onclick = function (e) {
    }
    document.getElementById("text").oninput = function (e) {

        document.getElementById("sub").click();

    }


    document.getElementById("Lab").onchange = function (e) {

        if (document.getElementById("Lab").value == "Английский") {
            document.getElementById("Lab1").value = "Русский";
        }
        else {
            document.getElementById("Lab1").value = "Английский";
        }

        document.getElementById("sub").click();
    }
    document.getElementById("Lab1").onchange = function (e) {

        if (document.getElementById("Lab1").value == "Английский") {
            document.getElementById("Lab").value = "Русский";
        }
        else {
            document.getElementById("Lab").value = "Английский";
        }
    }


</script>